.clear &nbsp;
.row-fluid
  - weekdays.each do |date|
    .date.weekday.centered.span1= date
= render 'week', :week => @last_week

.clear &nbsp;
= render 'week', :week => @this_week

.clear &nbsp;
= render 'week', :week => @next_week

%h3 Places
%ul
  - @places.each do |place, frequency|
    %li
      = frequency
      = place

%h3 Cooked
%ul
  - @cookeds.each do |place, frequency|
    %li
      = frequency
      = place
